<footer class="footer px-4 py-4 bg-dark text-white">
    <div class="container">
        <div class="row gy-3 align-items-center justify-content-between">
            <!-- Contact Information -->
            <div class="col-12 col-lg-4 d-flex flex-column text-center text-lg-start">
                <p class="text-base fw-bold mb-3">Contáctanos a través de nuestra línea telefónica y Whatsapp</p>
                <div class="d-flex justify-content-center justify-content-lg-start gap-4">
                    <div>
                        <i class="fa-solid fa-phone me-2"></i>
                        <a href="tel:8181313333" class="text-base fw-bold text-decoration-none text-white">81 8131 3333</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-whatsapp me-2"></i>
                        <a href="tel:8126204545" class="text-base fw-bold text-decoration-none text-white">81 2620 4545</a>
                    </div>
                </div>
            </div>

            <!-- Social Media Links -->
            <div class="col-12 col-lg-3 d-flex justify-content-center gap-4">
                <a href="">
                    <img class="icon-media" src="https://markvantest.live-website.com/olsen/assets/icons/faceboook.png" alt="facebook" style="width: 30px;">
                </a>
                <a href="">
                    <img class="icon-media" src="https://markvantest.live-website.com/olsen/assets/icons/instagram.png" alt="instagram" style="width: 30px;">
                </a>
                <a href="">
                    <img class="icon-media" src="https://markvantest.live-website.com/olsen/assets/icons/youtube.png" alt="youtube" style="width: 30px;">
                </a>
            </div>

            <!-- Legal Information -->
            <div class="col-12 col-lg-3 text-center text-lg-end">
                <div class="mb-2">
                    <span>Derechos reservados 2021</span>
                </div>
                <a href="" class="text-white text-decoration-none">Aviso de privacidad</a>
            </div>
        </div>
    </div>
</footer>
