<footer class="row footer px-5 py-4 align-items-center justify-content-between">
    <div class="col-4 d-flex flex-column">
        <p class="text-base fw-bold">Contáctanos a través de nuestra línea telefónica y Whatsapp</p>
        <div class="d-flex justify-content-between">
            <div class="">
                <i class="fa-solid fa-phone me-2"></i>
                <a href="tel:8181313333" class="text-base fw-bold text-decoration-none text-white">81 8131 3333</a>
            </div>
            <div class="">
                <i class="fa-brands fa-whatsapp me-2"></i>
                <a href="tel:8126204545" class="text-base fw-bold text-decoration-none text-white">81 2620 4545</a>
            </div>
        </div>
    </div>
    <div class="col-3 d-flex gap-4 align-items-center">
        <a href="">
            <img class="icon-media" src="../assets/icons/faceboook.png" alt="facebook">
        </a>
        <a href="">
            <img class="icon-media" src="../assets/icons/instagram.png" alt="instagram">
        </a>
        <a href="">
            <img class="icon-media" src="../assets/icons/youtube.png" alt="youtube">
        </a>
    </div>
    <div class="text-base fw-bold col-3">
        <div>
            <span>Derechos reservados 2021</span>
        </div>
        <a href="">Aviso de privacidad</a>
    </div>
</footer>