<header class="header bg-dark py-3">
    <div class="container d-flex justify-content-between align-items-center ">
        <!-- Logo -->
        <a href="index.html" class="logo">
            <img src="https://markvantest.live-website.com/olsen/assets/img/logo-inverse.webp" alt="Logo" class="img-fluid" style="max-height: 40px;">
        </a>

        <!-- Hamburger Menu for Mobile -->
        <button class="btn d-lg-none text-light" id="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Navigation -->
        <nav class="navbar-container d-none d-lg-flex flex-column gap-1">
            <div class="d-flex align-items-center justify-content-between text-sm fw-bold gap-4">
                <a class="text-light" href="index.html">HOME</a>
                <a class="text-light" href="avisos.html">AVISOS</a>
                <a class="text-light" href="certificados.html">CERFTIFICADOS</a>
                <a class="text-light" href="curriculum.html">CURRICULUM</a>
                <a href="equipos.html" class="text-light">EQUIPOS</a>
                <button class="btn btn-header-1 shadown-light"><img src="./assets/img/yocalculo_110-x-29_4x.png" alt=""></button>
            </div>
            <div class="d-flex align-items-center text-sm fw-bold gap-4">
                <a href="especificaciones.html" class="text-light">ESPECIFICACIONES</a>
                <a href="formulas.html" class="text-light">FORMULAS</a>
                <a href="historia.html" class="text-light">HISTORIA</a>
                <a href="precios.html" class="text-light">PRECIOS</a>
                <a href="videoteca.html" class="text-light">VIDEOTECA</a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle fw-semibold text-dark text-xs border bg-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">RECURSOS</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">INFORMACIÓN</a></li>
                        <li><a class="dropdown-item" href="#">MANUALES</a></li>
                        <li><a class="dropdown-item" href="#">PRODUCTOS HOMOLOGADOS</a></li>
                        <li><a class="dropdown-item" href="#">PRECIOS</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Logout Icon -->
        <div class="d-none d-lg-block">
            <button class="btn btn-light" id="logout-btn">
                <img class="icon mx-1" src="./assets/icons/logout.png" alt=""><span class="text-sm">Cerrar sesión</span>
            </button>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="d-lg-none bg-dark text-light p-4 position-fixed top-0 end-0 vh-100 w-75 collapse">
        <div class="d-flex flex-column gap-3 position-relative">
            <!-- Botón para cerrar el menú -->
            <button id="menu-close" class="btn-close btn-close-white text-light position-absolute top-0 end-0 mt-2 me-2" aria-label="Cerrar"></button>
            
            <!-- Enlaces del menú -->
            <a class="text-light" href="index.html">HOME</a>
            <a class="text-light" href="avisos.html">AVISOS</a>
            <a class="text-light" href="certificados.html">CERTIFICADOS</a>
            <a class="text-light" href="curriculum.html">CURRICULUM</a>
            <a href="equipos.html" class="text-light">EQUIPOS</a>
            <a href="especificaciones.html" class="text-light">ESPECIFICACIONES</a>
            <a href="formulas.html" class="text-light">FORMULAS</a>
            <a href="historia.html" class="text-light">HISTORIA</a>
            <a href="precios.html" class="text-light">PRECIOS</a>
            <a href="videoteca.html" class="text-light">VIDEOTECA</a>
            <button class="btn fw-semibold text-dark text-sm border bg-white">RECURSOS</button>
            <button class="btn btn-light" id="logout-btn">
                <img class="icon mx-1" src="../assets/icons/logout.png" alt=""><span class="text-sm">Cerrar sesión</span>
            </button>
        </div>
    </div>
    
</header>