<header class="header bg-dark py-3">
    <div class="container d-flex justify-content-between align-items-center gap-5">
        <!-- Logo -->
        <a href="index.html" class="logo">
            <img src="https://markvantest.live-website.com/olsen/assets/img/logo-inverse.webp" alt="Logo" class="img-fluid" style="max-height: 40px;">
        </a>

        <!-- Hamburger Menu for Mobile -->
        <button class="btn d-lg-none text-light" id="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
        
        <!-- Navigation -->
        <nav class="navbar-container d-none d-lg-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-between text-sm fw-bold gap-4">
                <a class="text-light text-decoration-none text-center" href="index.html">HOME</a>
                <a class="text-light text-decoration-none text-center" href="historia.html">SOBRE NOSOTROS</a>
                <a class="text-light text-decoration-none text-center" href="">GALERIA DE OBRAS</a>
                <a class="text-light text-decoration-none text-wrap text-center" href="">RESPONSABILIDAD SOCIAL</a>
                <button class="btn btn-header btn-header-1 shadown-light"><img src="./assets/img/yocalculo_110-x-29_4x.png" alt=""></button>
                <div class="dropdown">
                    <button class="btn btn-drop dropdown-toggle fw-semibold text-dark text-xs border bg-white" type="button" id="dropdownMenuButton1" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">RECURSOS
                        <i class="ms-2 bi bi-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="">
                            <a href="" class="dropdown-item dropdown-item-normal text-sm">INFORMACIÓN</a>
                        </li>
                        <li class="dropstart">
                            <a class="dropdown-item dropdown-toggle text-sm" data-bs-toggle="dropdown" href="#" aria-expanded="false">MANUALES</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="curriculum.html" class="dropdown-item text-base">Curriculum</a>
                                    <a href="equipos.html" class="dropdown-item text-base">Equipos</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropstart">
                            <a class="dropdown-item dropdown-toggle text-sm" data-bs-toggle="dropdown" href="#" aria-expanded="false">PRECIOS</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="precios.html" class="dropdown-item text-base">Lista de precios</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropstart">
                            <a class="dropdown-item dropdown-toggle text-sm" data-bs-toggle="dropdown" href="#" aria-expanded="false">FORMULAS</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="formulas.html" class="dropdown-item text-base">Galeria de color</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="especificaciones.html" class="dropdown-item dropdown-item-normal text-sm">ESPECIFICACIONES</a>
                        </li>
                        <li class="dropstart">
                            <a class="dropdown-item dropdown-toggle text-sm" data-bs-toggle="dropdown" href="#" aria-expanded="false">PRODUCTOS HOMOLOGADOS</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" class="dropdown-item text-base">Productos homologados</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item dropdown-item-normal text-sm">ARMONIZA TU ENTORNO</a>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item dropdown-item-normal text-sm">VISUALIZADOR DE COLOR</a>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item dropdown-item-normal text-sm">INFORMACIÓN COMERCIAL</a>
                        </li>
                        <li class="">
                            <a href="videoteca.html" class="dropdown-item dropdown-item-normal text-sm">VIDEOTECA OSEL</a>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item dropdown-item-normal text-sm">PRESUPUESTOS DE PUBLICIDAD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Logout Icon -->
        <div class="d-none d-lg-block">
            <button class="btn btn-light d-flex flex-column align-items-center" id="logout-btn">
                <img class="icon mx-1" src="./assets/icons/logout.png" alt="">
                <span class="text-sm">Cerrar sesión</span>
            </button>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="d-lg-none bg-dark text-light p-4 position-fixed top-0 end-0 vh-100 w-75 collapse">
        <div class="d-flex flex-column gap-3 position-relative">
            <!-- Botón para cerrar el menú -->
            <button id="menu-close" class="btn-close btn-close-white text-light position-absolute top-0 end-0 mt-2 me-2" aria-label="Cerrar"></button>
            
            <!-- Enlaces del menú -->
        
            <a class="text-light text-decoration-none mt-5" href="index.html">HOME</a>
            <a class="text-light text-decoration-none" href="avisos.html">SOBRE NOSOTROS</a>
            <a class="text-light text-decoration-none" href="certificados.html">GALERIA DE OBRAS</a>
            <a class="text-light text-decoration-none" href="curriculum.html">RESPONSABILIDAD SOCIAL</a>
            <div class="dropdown mt-2 mb-4">
                    <button class="btn btn-drop dropdown-toggle fw-semibold text-dark text-xs border bg-white" type="button" id="dropdownMenuButton1" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">RECURSOS
                        <i class="ms-2 bi bi-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="">
                            <a href="" class="dropdown-item text-xs">INFORMACIÓN</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item dropdown-toggle text-xs" data-bs-toggle="dropdown" href="#" aria-expanded="false">MANUALES</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="curriculum.html" class="dropdown-item text-xs">Curriculum</a>
                                    <a href="equipos.html" class="dropdown-item text-xs">Equipos</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item dropdown-toggle text-xs" data-bs-toggle="dropdown" href="#" aria-expanded="false">PRECIOS</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="precios.html" class="dropdown-item text-xs">Lista de precios</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item dropdown-toggle text-xs" data-bs-toggle="dropdown" href="#" aria-expanded="false">FORMULAS</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="formulas.html" class="dropdown-item text-xs">Galeria de color</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="especificaciones.html" class="dropdown-item text-xs">ESPECIFICACIONES</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item dropdown-toggle text-xs" data-bs-toggle="dropdown" href="#" aria-expanded="false">PRODUCTOS HOMOLOGADOS</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" class="dropdown-item text-xs">Productos homologados</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item text-xs">ARMONIZA TU ENTORNO</a>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item text-xs">VISUALIZADOR DE COLOR</a>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item text-xs">INFORMACIÓN COMERCIAL</a>
                        </li>
                        <li class="">
                            <a href="videoteca.html" class="dropdown-item text-xs">VIDEOTECA OSEL</a>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item text-xs">PRESUPUESTOS DE PUBLICIDAD</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-light btn-logout" id="logout-btn">
                <img class="icon mx-1" src="../assets/icons/logout.png" alt=""><span class="text-sm">Cerrar sesión</span>
            </button>
        </div>
    </div>
    
</header>